*{
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    color: white;
}

/*Responsivity*/
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 1000px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.generalPoints{
    position: absolute;
}

.createPoints{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

#coordX{
    margin-bottom: 3px;
}
#coordY{
    margin-bottom: 3px;
}

#points {
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #E9E3CA;
    font-weight: bold;
    width: 60%;
}
#points thead tr {
    font-weight: bold;
    height: 50px;
    border: 2px solid #E9E3CA;
}
#points thead tr th{
    font-size: 30px;
    border: 2px solid #E9E3CA;
}
#points tr td {
    height: 25px;
    border: 1px solid #E9E3CA;
}

/*Intérieur du tableau*/
::placeholder {
    font-size: 20px;
    color: #0dcff1;
    font-weight: bold;
}
.inputTab{
    border: 1px solid white;
    margin: 1px;
}
.btnTab{
    border: 1px solid yellow;
    margin: 1px;
    font-size: 20px;
}
.crossTab {
    height: auto;
    width: 20%;
    position: relative;
    top:20%;
}

/*Animations*/
.animate__animated.animate__fadeIn{
    --animate-duration: 4s;
}